﻿@model Blog2_6.Models.Comment

<div>
    <h2>Created @Html.DisplayFor(mode => mode.LastTime)</h2>
</div>
<div>
    @Html.DisplayFor(model=>model.Author)
    @Html.DisplayFor(model => model.Body)
</div>