﻿@model Blog2_6.Models.Comment
<script src="~/Scripts/addComments.js"></script>
@using (Html.BeginForm("Create", "Comment",FormMethod.Post, new { id = "my-form" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    <h4>Comment</h4>

    <div class="editor-label">
        @Html.LabelFor(model => model.Author)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Author)
        @Html.ValidationMessageFor(model => model.Author)
    </div>
    <h4>Comment</h4>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)
    </div>

    @Html.Hidden("idpost",ViewData["idpost"])
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}

<script src="~/Scripts/addComments.js"></script>
