﻿@model Project.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Brief)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brief)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoID)
    </div>
</fieldset>
    @Html.Partial("_addComment",new Project.Models.Comment(),ViewData)
<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments)
    {
        <div class="display-field">
            <p>@Html.DisplayFor(m => comment.LastTime) minutes ago</p>
        </div>
          <div class="display-field">
        @Html.DisplayFor(n => comment.Author)
    </div>
        <div class="display-field">
        @Html.DisplayFor(x => comment.Body)
    </div>
    }
   </fieldset>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
