﻿@model Blog2_6.Models.Comment

@using (Html.BeginForm("Create", "Comment", new { idpost = ViewData["idpost"] }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    <h4>Comment</h4>

    <div class="editor-label">
        @Html.LabelFor(model => model.Author)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Author)
        @Html.ValidationMessageFor(model => model.Author)
    </div>
    <h4>Comment</h4>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}